/**
 * Header
 */

/* ==========================================================================
   Header
   ========================================================================== */

header { background-color: @grayDarker; }


/* ==========================================================================
   Brand logo
   ========================================================================== */

.brand-icon {
    position: relative;
    display: block;
    width: 62px;
    height: 60px;
    padding: 10px 0;
    background-image: url('../images/ashville-a.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    .brand-link {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 100%;
    }
}
.brand-text {
    position: relative;
    display: block;
    width: 245px;
    height: 23px;
    margin: 15px 0 10px 82px;
    background-image: url('../images/ashville-logo-text.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    // Hide text accessibly
    direction: ltr;
    text-indent: -999em;
    .brand-link { display: block; }
}

/* Tagline */
.tagline {
    display: block;
    font-weight: bold;
    font-size: 1.143em;
    white-space: nowrap;
    margin-left: 82px;
}

// Media queries
@media @landscape-phone-to-tablet {
    .brand,
    .brand-icon {
        &.pull-left {
            float: left !important;
        }
    }
    .brand-icon {
        width: 47px;
        height: 45px;
    }
    .brand-text {
        width: 192px;
        height: 18px;
        margin: 15px 0 5px 61px;
    }
    .tagline {
        font-size: 1em;
        margin-left: 61px;
    }
}
@media @tablet-to-desktop {
    .brand-icon {
        width: 47px;
        height: 45px;
    }
    .brand-text {
        width: 192px;
        height: 18px;
        margin: 15px 0 5px 61px;
    }
    .tagline {
        font-size: 1em;
        margin-left: 61px;
    }
}


/* ==========================================================================
   Secondary links
   ========================================================================== */

/* Layout */
.secondary-links {
    padding: (@baseLineHeight / 4) 0;
    margin-bottom: 0;
    text-align: right;
    list-style: none;
    li {
        .ie7-inline-block();
        display: inline-block;
        margin-right: (@baseLineHeight / 1.5);
        &:last-child { margin-right: 0; }
    }
}

// Media queries
@media @landscape-phone-to-tablet {
    .secondary-links {
        text-align: left;
        padding-right: 20px;
        padding-left: 20px;
    }
}

/* Links */
.secondary-links {
    a {
        color: @grayLight;
        text-decoration: none;
        &:hover { text-decoration: underline; }
    }
}


/* ==========================================================================
   Site info
   ========================================================================== */

/* Layout */
.siteinfo-container {
    border-bottom: 1px solid @grayDarker;
    background-color: @black;
    .container { position: relative; }
}

// Media queries
@media @landscape-phone-to-tablet {
    .siteinfo-container {
        padding-right: 20px;
        padding-left: 20px;
        // Div alignments
        .pull-right,
        .pull-left {
            float: none;
            text-align: left;
        }
    }
}

/* Phone number */
.phone-number {
    padding: @baseLineHeight 0 (@baseLineHeight / 4);
    font-weight: bold;
    font-size: 2em;
    text-align: right;
}

// Media queries
@media @landscape-phone-to-tablet {
    .phone-number {
        padding-top: (@baseLineHeight / 2);
        text-align: left;
    }
    .co-info {
        &.pull-right {
            float: left !important;
        }
    }
}
@media @tablet-to-desktop {
    .phone-number {
        padding-top: (@baseLineHeight / 2);
        text-align: left;
    }
    .co-info {
        &.pull-right {
            float: left !important;
        }
    }
}

/* Social Links */
.social-links {
    padding: 0 0 (@baseLineHeight / 2);
    margin: 0;
    text-align: right;
    list-style: none;
    li {
        .ie7-inline-block();
        display: inline-block;
        height: 25px;
        line-height: 25px;
        margin-right: (@baseLineHeight / 2);
        &:last-child { margin-right: 0; }
    }
}

/* Icons */
.social-links {
    [class*="ss-icon"] {
        vertical-align: middle;
    }
}

// Media queries
@media @landscape-phone-to-tablet {
    .social-links { text-align: left; }
}
