/**
 * Navbar
 */

/* ==========================================================================
   Ashville mega menu
   ========================================================================== */

/* Layout */
.mega-menu {
    margin-bottom: (@baseLineHeight * 1.5);
    border-bottom: 5px solid @grayDarker;
    background-color: @black;
    // Top level
    .navigation {
        position: relative;
        margin: 0;
        list-style: none;
        > li {
            .ie7-inline-block();
            display: inline-block;
            padding: (@baseLineHeight /  2) 0;
            margin-right: @baseLineHeight;
            &:last-child { margin-right: 0; }
        }
    }
    // Submenus
    .submenu {
        position: absolute;
        left: -9999px;
        margin: 0;
        list-style: none;
    }
}

/* Styling */
.mega-menu {
    // Defaults
    a {
        color: @grayLight;
        font-weight: 600;
        text-decoration: none;
        &:hover { color: @white; }
    }
    // Highlight current item
    .navigation {
        > li {
            &.current {
                a { color: @white; }
            }
        }
    }
}

/* Search */
.nav-search {
    // padding: (@baseLineHeight /  2) 0 !important;
    padding: 0 !important;
    form { margin: 0 !important; }
    input[type="text"],
    button {
        .box-sizing(border-box);
        margin-top: 0 !important;
        margin-bottom: 0 !important;
        border: none !important;
        background-color: @grayDarker !important;
        .box-shadow(0 0 0 rgba(0,0,0,0));
    }
    input[type="text"] {
        width: 100%;
        height: 100%;
        padding: 10px 40px 10px 10px;
    }
    button {
        position: absolute;
        right: 0;
        padding: 10px;
    }
}


/* ==========================================================================
   Navbar - extending Bootstrap's default styling for SS
   ========================================================================== */

// Active nav items
.navbar .nav > .current > a,
.navbar .nav > .current > a:hover,
.navbar .nav > .current > a:focus {
    color: @navbarLinkColorActive;
    text-decoration: none;
    background-color: @navbarLinkBackgroundActive;
    .box-shadow(inset 0 3px 8px rgba(0,0,0,.125));
}

// Inverted navbar
.navbar-inverse {
    .nav .current > a,
    .nav .current > a:hover,
    .nav .current > a:focus {
        color: @navbarInverseLinkColorActive;
        background-color: @navbarInverseLinkBackgroundActive;
    }
}

// Search
#SearchForm_SearchForm {
    input[type="text"] {
        margin-top: 5px;
        margin-bottom: 5px;
    }
    input[type="submit"] {
        padding: 5px 12px;
        margin-top: 5px;
        margin-bottom: 5px;
    }
}
